# ---------------[ Unity generated ]------------------ #
.DS_Store
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/assetDatabase3
Library/cache
Library/metadata
Library/previews
Temp
*.pidb
build


# -------------[ None code files ]------------------------ #

*.bmp
*.BMP
*.psd
*.PSD
*.tif
*.TIF
*.tiff
*.TIFF
*.pdf
*.PDF
*.ttf
*.TTF
*.ZIP
*.zip
*.rtf
#Unity files
*.cginc
*.asset
*.GUISkin
*.mat
*.rendertexture
*.physicmaterial
*.flare
#3D tool files
*.fbx
*.FBX
*.anim
*.fbm
*.exr
*.otf
*.max
#Media files
*.ogg
*.ogv
*.aiff
*.raw
*.wav
*.WAV
*.wave
*.MOV
*.mov
#other stuff
*.pidb

# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db